<div class="container mt-5" style="max-width:420px">
  <h3 class="mb-3">Reset Password (OTP)</h3>

  <div class="card p-3 shadow-sm">
    <form [formGroup]="form">

      <label class="form-label fw-semibold">Email</label>
      <input class="form-control mb-2" type="email" formControlName="email">

      <label class="form-label fw-semibold">OTP (6 digits)</label>
      <input class="form-control mb-2" type="text" formControlName="otp" placeholder="Enter OTP">

      <label class="form-label fw-semibold">New Password</label>
      <input class="form-control mb-2" type="password" formControlName="newPassword" placeholder="Enter new password">

      <button type="button" class="btn btn-success w-100 mt-2" (click)="resetPassword()">
        Change Password
      </button>

    </form>
  </div>
</div>